<title> login_form</title>
<h1>Login Form</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_with(url: login_path, scope: :session,local:true )do |form|%>
			<div id='login_page'> </div>
			<%= form.label :email%>
			<%= form.email_field :email, class: 'form-control'%><br>

			<%= form.label :password%>
			<%= form.password_field :password, class: 'form-control'%>
			<%= form.label :remember_me, class: "checkbox inline" do %>
				<%= form.check_box :remember_me %>
				<span>Remember me on this computer</span>
			<% end %>

			<%= form.submit "Log In", class: "btn btn-primary"%>
			<%end%>


			<p> new user? <%= link_to "Sign up now!", signup_path%></p>

		</div>
	</div>


<script type="text/javascript">
	console.log($('.form-control'))
</script>


